Basic examples - shift+ enter to execute

In [21]:
True

True

In [3]:
1+1

2

In [4]:
3 ** 3

27

All ints will still produce float if needed

In [16]:
((4/2)+(2*7))%5

1.0

Variables (cannot start with numbers or special chars | proper_to_use_underscores for variables)

In [25]:
x = 100
y = 500
z_z = 20.50

In [26]:
x + y + z_z

620.5

In [22]:
x = x + x

In [23]:
x

200

For strings - watch the quotes | also strings seems to be a key word | wrap strings with ""

In [28]:
'single quote example'

'single quote example'

In [29]:
"double quote example"

'double quote example'

Printing out - with Jupyter Out[31] with proper python no out via print

In [37]:
name = 'tyler'
program = 'jupyter'

In [31]:
name

'tyler'

In [33]:
print(name)

tyler

In [35]:
print('My name is {}, that name again... {}'.format(name, name))

My name is tyler, that name again... tyler

In [39]:
print('My name is {one}, that name again... {one} - coding in {two}'.format(two=program,one=name))

My name is tyler, that name again... tyler - coding in jupyter

In [41]:
name[1]

'y'

In [43]:
name[:2] # could be 0: or :3 or 2:4

'ty'

Lists

In [46]:
test_list = ['a','b','c']

In [47]:
test_list

['a', 'b', 'c']

In [48]:
test_list.append('d')

In [49]:
test_list

['a', 'b', 'c', 'd']

In [50]:
test_list[1:3]

['b', 'c']

In [51]:
test_list[0] = '1'

In [52]:
test_list

['1', 'b', 'c', 'd']

In [54]:
nest_list = [1,2,[3,4]]

In [55]:
nest_list[2][1]

4

In [75]:
nesterest_list = [1,2,[3,4,[5]]] # index 0, 1, 2

In [76]:
nesterest_list[2] # the 2 is the first nested list

[3, 4, [5]]

In [77]:
nesterest_list[2][1]

4

In [78]:
nesterest_list[2][2][0] # the first nested list, then second nested list, then value at index 0

5

Dictionarys (keypairs)

In [16]:
dic = {'ID':'0000','last':'andruschak','first':'tyler','key2':'pair2'}

In [17]:
dic['first']

'tyler'

In [5]:
dic2 = {'k':[1, 2, 3]} # can store lists as kp

In [7]:
dic2['k']

[1, 2, 3]

In [9]:
dic2['k'][0] # pull out the first element

1

In [10]:
dic_var = dic2['k'] # assign as a var

In [11]:
dic_var[0]

1

In [19]:
super_keypair = {'outerkey':{'innerkey':[1, 2, 3]}} # nested dictionary

In [20]:
super_keypair['outerkey']['innerkey'][0]

1

Tuples

In [25]:
tup = (1, 2, 3) # similar to a list, but is immutable (cannot change values with tup[0] = 'changed')

In [24]:
tup[0]

1

Sets

In [26]:
{1, 2, 3}

{1, 2, 3}

In [27]:
{1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 5, 5, 5} # only returns a single instance

{1, 2, 3, 4, 5}

In [28]:
set_one = {1, 1, 2, 2, 3, 3}

In [31]:
set_one.add('4') # doh.. | no error on duplication

In [30]:
set_one

{1, 2, 3, '4'}

Comparion operators

In [32]:
1 == 1

True

In [38]:
(1 == 1 and 1 != 2) # can be wrapped or unwrapped in ()

True

In [34]:
'tyler' == 'lame'

False