In [1]:
# need to install pandas - "conda install pandas"

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
ids = ['a', 'b', 'c'] # id list
data = [10, 20, 30]   # data list
arr = np.array(data)  # numpy data array
dic = {'a':10, 'b':20, 'c':30} # dictionary

In [5]:
pd.Series(data)

0    10
1    20
2    30
dtype: int64

In [7]:
pd.Series(data, ids) # can set actual name shown from shift+tab to clearify pd.Series(data=data, index=ids) if out of order

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(arr) # can take multiple formats and convert them, numpy array here, dictionary example below

0    10
1    20
2    30
dtype: int64

In [11]:
pd.Series(dic)

a    10
b    20
c    30
dtype: int64

In [15]:
series = pd.Series(['CAN', 'USA', 'MEX', 'UK', 'RU'], [1, 2, 3, 4, 5])

In [19]:
series # notice dtype is object for the strings

1    CAN
2    USA
3    MEX
4     UK
5     RU
dtype: object

In [20]:
series[1] # pulling by label - NOT by index

'CAN'

In [21]:
series_two = pd.Series(['CAN', 'USA', 'WUT', 'UK', 'RU'], [1, 2, 6, 4, 5])

In [23]:
series + series_two # concat (add nums) or NaN if nothing to combine

1    CANCAN
2    USAUSA
3       NaN
4      UKUK
5      RURU
6       NaN
dtype: object

In [1]:
# DATA Frames # a bunch of series, that share an index

In [4]:
from numpy.random import randn

In [16]:
np.random.seed(101) # so that random numbers always generate the same

In [17]:
df = pd.DataFrame(randn(5,4), ['A','B','C','D','E'], ['W','X','Y','Z']) # data, index, columns categories passed

In [23]:
df  # I had it change, until I re-ran? odd, wish i would have saved the output...

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [24]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [27]:
type(df['W'])

pandas.core.series.Series

In [28]:
type(df)

pandas.core.frame.DataFrame

In [32]:
df.W # another way to format, not recommended as it could be confused between a methods on df and a named column ("keys" for example)

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [34]:
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [35]:
df['WYSUM'] = df['W'] + df['Y'] # create new column wysum which is the sum of column w and y

In [36]:
df

          W         X         Y         Z     WYSUM
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [42]:
df.drop('WYSUM', axis = 1) # will error on axis, arg2 is 0 for x and 1 for y, arg3 inplace=True (if you want to lock changes)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [43]:
df

          W         X         Y         Z     WYSUM
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [44]:
df.shape

(5, 5)

In [45]:
# selecting rows

In [50]:
df.loc['A'] # as the columns are a pandas "series", so are the rows - pull by labels

W        2.706850
X        0.628133
Y        0.907969
Z        0.503826
WYSUM    3.614819
Name: A, dtype: float64

In [51]:
df.iloc[2] # by numerical index

W       -2.018168
X        0.740122
Y        0.528813
Z       -0.589001
WYSUM   -1.489355
Name: C, dtype: float64

In [53]:
df.loc['B', 'Y'] # single

-0.84807698340363147

In [56]:
df.loc[['A', 'B'], ['W', 'Y']] # snag sections

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

In [57]:
df.drop('WYSUM', axis = 1, inplace = True)

In [58]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [59]:
# conditional statements on data frames

In [60]:
df > 0

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [61]:
booldf = df > 0

In [63]:
df[booldf] # use a conditional against a data frame

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [65]:
df[df > 0] # can also directly dump in as per usual

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509