Basic examples - shift+ enter to execute

In [21]:
True

True

In [3]:
1+1

2

In [4]:
3 ** 3

27

All ints will still produce float if needed

In [16]:
((4/2)+(2*7))%5

1.0

Variables (cannot start with numbers or special chars | proper_to_use_underscores for variables)

In [25]:
x = 100
y = 500
z_z = 20.50

In [26]:
x + y + z_z

620.5

In [22]:
x = x + x

In [23]:
x

200

For strings - watch the quotes | also strings seems to be a key word | wrap strings with ""

In [28]:
'single quote example'

'single quote example'

In [29]:
"double quote example"

'double quote example'

Printing out - with Jupyter Out[31] with proper python no out via print

In [37]:
name = 'tyler'
program = 'jupyter'

In [31]:
name

'tyler'

In [33]:
print(name)

tyler

In [35]:
print('My name is {}, that name again... {}'.format(name, name))

My name is tyler, that name again... tyler

In [39]:
print('My name is {one}, that name again... {one} - coding in {two}'.format(two=program,one=name)) # nice and easy

My name is tyler, that name again... tyler - coding in jupyter

In [41]:
name[1]

'y'

In [43]:
name[:2] # could be 0: or :3 or 2:4

'ty'

Lists

In [46]:
test_list = ['a','b','c']

In [47]:
test_list

['a', 'b', 'c']

In [48]:
test_list.append('d')

In [49]:
test_list

['a', 'b', 'c', 'd']

In [50]:
test_list[1:3]

['b', 'c']

In [51]:
test_list[0] = '1'

In [52]:
test_list

['1', 'b', 'c', 'd']

In [54]:
nest_list = [1,2,[3,4]]

In [55]:
nest_list[2][1]

4

In [75]:
nesterest_list = [1,2,[3,4,[5]]] # index 0, 1, 2

In [76]:
nesterest_list[2] # the 2 is the first nested list

[3, 4, [5]]

In [77]:
nesterest_list[2][1]

4

In [78]:
nesterest_list[2][2][0] # the first nested list, then second nested list, then value at index 0

5

Dictionarys (key:value pairs)

In [16]:
dic = {'ID':'0000','last':'andruschak','first':'tyler','key2':'pair2'}

In [17]:
dic['first']

'tyler'

In [5]:
dic2 = {'k':[1, 2, 3]} # can store lists as kp

In [7]:
dic2['k']

[1, 2, 3]

In [9]:
dic2['k'][0] # pull out the first element

1

In [10]:
dic_var = dic2['k'] # assign as a var

In [11]:
dic_var[0]

1

In [19]:
super_keypair = {'outerkey':{'innerkey':[1, 2, 3]}} # nested dictionary

In [20]:
super_keypair['outerkey']['innerkey'][0]

1

Tuples

In [25]:
tup = (1, 2, 3) # similar to a list, but is immutable (cannot change values with tup[0] = 'changed')

In [24]:
tup[0]

1

Sets

In [26]:
{1, 2, 3}

{1, 2, 3}

In [27]:
{1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 5, 5, 5} # only returns a single instance

{1, 2, 3, 4, 5}

In [28]:
set_one = {1, 1, 2, 2, 3, 3}

In [31]:
set_one.add('4') # doh.. | no error on duplication

In [30]:
set_one

{1, 2, 3, '4'}

Comparion operators

In [32]:
1 == 1

True

In [38]:
(1 == 1 and 1 != 2) # can be wrapped or unwrapped in ()

True

In [34]:
'tyler' == 'lame'

False

IF/ELSE statements

In [3]:
if True == False: # watch the whitespacing!!
    print('hit if')
elif True == True:
    print('hit elif')
else:
    print('hit else')

hit elif

Looping

In [5]:
seq = [1, 2, 3, 4, 5]

In [10]:
for x in seq: # for every element do
    print(x)
    print('not related')

1
not related
2
not related
3
not related
4
not related
5
not related

In [12]:
i = 1

while i < 5:
    print('i is: {}'.format(i))
    i = i + 1

i is: 1
i is: 2
i is: 3
i is: 4

In [13]:
for x in range(1, 6):
    print(x)

1
2
3
4
5

In [21]:
list(range(10)) # auto generate number ranges

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
tester = ['range(0,4)']

In [20]:
print(tester) # not quite there :)

['range(0,4)']

In [25]:
tester2 = [list(range(10))] # nope, only a single element, toss it in a for loop with x.append(value)?

In [24]:
print(tester2)

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [32]:
x = [1, 2, 3, 4] # list comprehension - think of it as running the list backwards, instead of aforementioned x.append

[item**2 for item in x] # each list item do someting to it - create a one liner

[1, 4, 9, 16]

In [37]:
output = [item**2 for item in x] # cool (still need to define x)

In [36]:
print(output)

[1, 4, 9, 16]

functions

In [40]:
def my_func(p1): # basic value pass
    print(p1)

In [39]:
my_func('print me')

print me

In [43]:
def my_func2(name='none given'): # do a default action when nothing is passed - new to me
    print('Hello '+name)

In [44]:
my_func2()

Hello none given

In [4]:
def my_func_sqaure(num): # return with a docstring - end of a function with shift+tab will pop up the description
    """
    THIS IS A DOCSTRING
    THIS FUNCTION SQUARES A NUMBER
    """
    return num**2

In [50]:
output = my_func_sqaure(16)

In [51]:
output

256

In [1]:
list

list

Map() functions # run a function over a dictionary

In [3]:
sequence = [1, 2, 3, 4, 5, 6, 7]

In [5]:
list(map(my_func_sqaure, sequence)) # very cool - could also be done with a for and append

[1, 4, 9, 16, 25, 36, 49]

Lambda expressions # short form return function (single use?) | very nice for quick math functions

In [7]:
lam = lambda var:var**2 # expects to be passed a var, returns (same as the my_func_square above)

In [9]:
lam(9) # square it!

81

In [11]:
list(map(lambda num: num**3, sequence)) # combined previous

[1, 8, 27, 64, 125, 216, 343]

In [13]:
list(filter(lambda num: num%2 == 0, sequence)) # example of the filter function to allow for conditions mapping

[2, 4, 6]

In [28]:
# Methods - examples on strings, dicts, lists,

In [20]:
tweet = "Learn python today! #gocoding #learning"

In [21]:
tweet.upper()

'LEARN PYTHON TODAY! #GOCODING #LEARNING'

In [22]:
tweet.split()

['Learn', 'python', 'today!', '#gocoding', '#learning']

In [23]:
tweet.split('#') # on a specific delimeter

['Learn python today! ', 'gocoding ', 'learning']

In [27]:
tweet.split('#')[1] # items after

'gocoding '

In [30]:
dic = {'k1':'1', 'k2':'2'}

In [34]:
dic.keys() # remember to try "tab" at dic. to see available methods

dict_keys(['k1', 'k2'])

In [33]:
dic.items()

dict_items([('k1', '1'), ('k2', '2')])

In [36]:
lst = [1, 2, 3, 4, 5] # remember that lists are mutable and sets are immutable

In [37]:
lst.pop()

5

In [38]:
lst

[1, 2, 3, 4]

In [39]:
lst.pop(0)

1

In [40]:
lst

[2, 3, 4]

In [43]:
lst.append(5) # not called "push", where is the fun in that?

In [42]:
lst

[2, 3, 4, 5]

In [44]:
# "in" as is "x in list"?

In [48]:
'x' in lst # I wonder what search algorithm is used for this when given a large list?

True

In [46]:
lst.append('x')

In [47]:
'x' in lst

True

In [49]:
# Tuple unpacking

In [50]:
x = [(1, 2), (3, 4), (5, 6)]

In [51]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [53]:
for (a, b) in x: # quotes are not require, could just be viewed "a,b in x"
    print(a)

1
3
5